<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giriş Ekranı</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body class="body">

<div class="sayfabaslik">
    Çalışan Yıpranma Tahmini
</div>


<div id="content">
    <img src="../static/turkcell_logo/turkcellbeyaz.png" alt="Turkcell Logo" class="turkcelllogo">
</div>

<div id="content">
    <img src="../static/miuul_logo/miuulbeyaz.png" alt="Miuul Logo" class="miuulllogo">
</div>




<div class="wrapper">
    <form action="/veritabanisorgulama">
        <input type="submit" value="MSSQL Veritabanı Üzerinden Sorgulama" class="girisbutton1">
    </form>
</div>

<div class="wrapper">
    <form action="/manualsorgulama">
        <input type="submit" value="Manual Bilgi Girişi ile Sorgulama" class="girisbutton2">
    </form>
</div>


</body>
</html>