<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tahmin Sonucu</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="body">

<div class="sayfabaslik">
    Çalışan Yıpranma Tahmini
</div>

<div id="content">
    <img src="../static/turkcell_logo/turkcellbeyaz.png" alt="Turkcell Logo" class="turkcelllogo">
</div>

<div id="content">
    <img src="../static/miuul_logo/miuulbeyaz.png" alt="Miuul Logo" class="miuulllogo">
</div>


<div class="manualsonuc" >
  {{ prediction }}<br>
</div>

</body>
</html>