<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Veritabanı Sorgulama</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="body">

<div class="sayfabaslik">
    Veritabanı Kayıtları ile Sorgulama
</div>

<div class="form-center2">
    <form action="/veritabanisonuc" method="POST">
        <label for="name">Adı:</label>
        <input type="text" id="name" name="name">
        <br><br>
        <label for="surname">Soyadı:</label>
        <input type="text" id="surname" name="surname">
        <br><br>
        <input type="submit" value="Submit">

    </form>
</div>

<div id="content">
    <img src="../static/turkcell_logo/turkcellbeyaz.png" alt="Turkcell Logo" class="turkcelllogo">
</div>

<div id="content">
    <img src="../static/miuul_logo/miuulbeyaz.png" alt="Miuul Logo" class="miuulllogo">
</div>



</body>
</html>